<html>
   <head>
      <title>$action.getText("uwc.importer.webitem.label")</title>
   </head>
   <body>
      <content tag="selectedWebItem">uwc-importer-webitem</content>
      #parse("/template/includes/actionerrors.vm")
      
      
      <img src="$webResourceManager.getStaticPluginResource('com.atlassian.confluence.plugins.uwc.uwcimporter-adminpanel:uwc-importer-actions', 'images/uwc.gif')" width="308" height="105" /><br/>
      
      
      
      <div>
            <p>
              $action.getText("uwc.importer.text.intro") 
            </p>
            <p>
                $action.getText("uwc.importer.text.warning.install")
            </p>
            
            <table>
              <tr>
                <td style="vertical-align:top;">
                  <a href="http://www.atlassian.com/confluence/UWC/download/">
                    <img src="$webResourceManager.getStaticPluginResource('com.atlassian.confluence.plugins.uwc.uwcimporter-adminpanel:uwc-importer-actions', 'images/download.png')" width="128" height="163" style="margin:10px 40px 0px 20px;" /><br/>
                  </a>                
                </td>
                <td style="vertical-align:top;">
                    <div class="borderedGreyBox" style="float:left;">
                        <ul style="line-height:150%">
                            <li>
                                <strong>
                                <a href="http://www.atlassian.com/confluence/UWC/download/">
                                $action.getText("uwc.importer.text.link.download")
                                </a>
                                </strong>
                            </li>
                            <li>
                                $action.getText("uwc.importer.text.label.install") 
                                <a href="http://www.atlassian.com/confluence/UWC/quickstart/">$action.getText("uwc.importer.text.link.install")</a>
                            </li>
                            <li>
                                $action.getText("uwc.importer.text.label.demo")
                                <a href="http://www.atlassian.com/confluence/UWC/movie/">$action.getText("uwc.importer.text.link.demo")</a>                
                            </li>
                            <li>
                                $action.getText("uwc.importer.text.label.devel") 
                                <a href="http://www.atlassian.com/confluence/UWC/developerdocs/">$action.getText("uwc.importer.text.link.devel")</a>
                            </li>
                            <li>
                                $action.getText("uwc.importer.text.label.wiki") 
                                <a href="http://www.atlassian.com/confluence/UWC/notes/">$action.getText("uwc.importer.text.link.wiki")</a>
                            </li>
                            <li>
                                $action.getText("uwc.importer.text.label.questions") 
                                <a href="http://www.atlassian.com/confluence/UWC/support/">$action.getText("uwc.importer.text.link.questions")</a>                
                            </li>
                        </ul>
                    </div>
                
                </td>
              </tr>
            </table>
                            
        </div>
      #set ($isEarlier = $action.isEarlierConfluence())
      #if ($isEarlier)
        #parse ("/admin/admin-breadcrumbs.vm")
      #else
        #parse("/breadcrumbs.vm")
      #end
   </body>
</html>
